<app-navi></app-navi>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <app-side-filter class="col-md-3"></app-side-filter>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="mb-3">
                    <label for="filterText" class="form-label">Kitap Ara</label>
                    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
                        placeholder="Kitap arayınız">
                </div>
                <div *ngIf="filterText" class="alert alert-success">
                    {{filterText}} aradınız.
                </div>
                
                <app-book-image class="col-md-4" style="height: 600px; margin-bottom: 70px;" [book]="book"
                    [dataLoaded]="true" *ngFor="let book of books | bookFilter:filterText"></app-book-image>
            </div>
        </div>
    </div>
</div>