<div class="card">
    <img src="{{bookImageUrl}}" class="card-img-top img-card" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{book.bookName}}</h5>
        <p class="card-text">Yazar:{{book.writerName}}</p>
        <span class="card-text publisher">{{book.publisherName}}</span>
        <span class="card-text text-primary" style="margin-left: 100px;">{{book.unitPrice|currency}}</span>
        <div class="btn-cart"><a (click)="addToCart(book)" class="btn btn-primary mt-2 w-100">Sepete Ekle</a></div>
    </div>
</div>