<form class="side-filter" style="width: 320px;">
    <label for="writer">Yazarlar</label>
    <select class="form-select" id="writer" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <label for="publisher">Yayın Evleri</label>
    <select class="form-select" id="publisher" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <label for="category">Kategoriler</label>
    <select class="form-select" id="category" aria-label="category">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
</form>